@import-normalize;

body {
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN Pro', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #bebebe;
}

a:hover {
  color: #bebebe;
}

.h-text {
  font-family: 'DIN Pro', sans-serif;
  font-weight: bold;
  font-size: 1.05rem;
  transition: color .5s;
}

.p-text {
  font-family: 'DIN Pro', sans-serif;
  font-size: 1.05rem;
  transition: color .5s;
}

.w-70 {
  width: 70% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.cursor-pointer {
  cursor: pointer;
}
